:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --ligth-slate: #8E8F99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;
    --green: #31D0AA;
}

/* ===== RESET ===== */
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

/* ===== BODY ===== */
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.5;
}

/* ===== UTILITIES ===== */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

.visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0, 0, 0, 0);
            overflow: hidden;
        }

/* ===== HEADER ===== */
.header {
    

border-bottom: 1px solid var(--cornflower);
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
    margin-right: 76px;
}

.logo-accent {
    color: var(--navy-blue);
}

.nav-list {
    display: flex;
    gap: 40px;
    
}
.menu-item{
   
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link.active,
.nav-link:focus {
    color: var(--ocean);
}

.nav-link.active::after {
    
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #404bbf;

}

/* ===== CONTACTS ===== */
.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
}

/* ===== HERO ===== */
.hero {
    background-color: var(--navy-blue);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url('../images/people-office.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.hero-container {
    text-align: center;
}
 

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
}

.hero-btn {
    padding: 16px 32px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    border: none;
    cursor: pointer;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    height: 56px;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
}

/* ===== FEATURES ===== */
.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}
.features-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 264px;
    background-color: var(--cloud);
    border: 1px solid var(--ligth-slate);
    border-radius: 4px;
    padding: 24px 0;
    justify-content: center;
    margin-bottom: 8px;
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.features-text {
    letter-spacing: 0.02em;
}

/* ===== TEAM ===== */

.section-title{
    text-align: center;
    margin-bottom: 72px;
}
.team {
    background-color: var(--cloud);
}
.name-wrapper{
    padding: 32px 0;
    border-radius: 0 0 4px 4px;
        background: var(--WHITE, #FFF);
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}

.name-wrapper > h3{
    text-align: center;
    margin-bottom: 8px;
}
.name-wrapper>p {
    text-align: center;
 
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: var(--white);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}
.social-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 16px;
}
.team-icons-wrapper{
    background-color: var(--iris);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--cl-border-light);
    border-radius: 50%;
    
}
.team-icons-wrapper:hover,
.team-icons-wrapper:active{
    background-color: var(--green);
}

.team-name {
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-role {
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}

/* ===== PORTFOLIO ===== */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.portfolio-card:hover{
    cursor: pointer;
    background: var(--WHITE, #FFF);
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-type {
    letter-spacing: 0.02em;
}

/* ===== FOOTER ===== */
.footer {
    padding: 100px 0;
    background-color: var(--navy-blue);
    display: flex;
    flex-wrap: wrap;
    padding-left: 156px;
    gap: 120px;
}
.left-col-container{
   
}
.rigth-col-container {
    width: 208px;
    display: flex;
    flex-wrap: wrap;
}
.footer-icons-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.rigth-col-container>p{
    margin-bottom: 16px;
    color: var(--white);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-accent-footer {
    color: var(--cloud);
}

.footer-text {
    max-width: 264px;
    letter-spacing: 0.02em;
    color: var(--cloud);
}